# 大数据文件
*.zip
*.bag
*.pcd

# KITTI数据文件夹
KITTI_Data/

# MCTrack大文件和数据目录
MCTrack/tmp_gdrive/
MCTrack/data/
MCTrack/results/

# ROS编译文件
catkin_ws/build/
catkin_ws/devel/

# PCD点云文件
catkin_ws/src/fast_lio/PCD/

# 临时文件
*~
*.swp
*.tmp
.DS_Store

# Python缓存
__pycache__/
*.pyc
*.pyo

# IDE文件
.vscode/
.idea/
